.contact--page {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.get--in--touch .information--box {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.get--in--touch h1 {
  color: #000;
  text-align: center;
  margin: 50px;
  font-size: 50px;
  font-weight: 1000;
}

.address--box {
  width: 30%;
  height: 100px;
  background-color: rgb(199, 225, 248);
  height: 300px;
  padding: 20px;
  text-align: center;
  border: #76aaff double;
  border-radius: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.address--box p {
  line-height: 2;
  text-align: center;
}

.phone--box {
  width: 30%;
  height: 100px;
  text-align: center;
  background-color: rgb(199, 225, 248);
  height: 300px;
  padding: 20px;
  border: #76aaff double;
  border-radius: 12px;
}

.phone--box p {
  line-height: 2;
  text-align: center;
}

.email--box {
  width: 30%;
  height: 100px;
  text-align: center;
  background-color: rgb(199, 225, 248);
  height: 300px;
  padding: 20px;
  border: #76aaff double;
  border-radius: 12px;
}

.email--box p {
  line-height: 2;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  margin: 50px;
  justify-content: baseline;
}

.form .message--us {
  text-align: justify;
  width: 30%;
  line-height: 2;
}

.form .message--us h2 {
  font-size: 30px;
  font-weight: 900;
  color: #5092fb;
}

.form .message--us p {
  font-size: 18.5px;
  font-weight: 500;
  line-height: 2;
}

.form .form--box {
  width: 30%;
  margin: 50px 70px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form .form--box input,
textarea {
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 60%;
  padding: 10px;
  border: none;
  border-bottom: solid #000 1px;
  background-color: #adcdf923;
  border-radius: 20px;
}

.form .form--box textarea {
  padding: 25px;
  max-width: 350px;
  max-height: 100px;
  font-size: 18px;
  min-width: 350px;
  min-height: 100px;
}

.form .form--box textarea:focus {
  border-radius: 20px;
}

.form .form--box button {
  width: 30%;
  padding: 8px;
  border: none;
  background: linear-gradient(-90deg, #0dd3b9b5, #0bc4bec1);
  border-radius: 20px;
  font-size: 20px;
  margin-right: 100px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.form .form--box button:active {
  background: linear-gradient(-90deg, #0dd3b9, #0bc4be);
}

.form .form--img {
  margin: 0 0 0 30px;
}
